<p>basket works!</p>
<div class="panierWrapper">
    <div class="mb-2" *ngFor="let panier of paniers">
    <div class="bg-body-secondary p-3 rounded-3">
      <div *ngIf="panier.Lignes.length > 0" class="d-flex align-items-center justify-content-evenly">
        <h2>Commandes #{{ panier.Id }}</h2>
        <h4>Date {{ panier.DateTime|date:"short" }}</h4>
      </div>
  
      <div *ngIf="panier.Lignes.length === 0">Votre panier est vide.</div>
      <div *ngIf="panier.Lignes.length > 0">Votre commande contient {{ panier.Lignes.length }} article(s).</div>
      <table *ngIf="panier.Lignes.length > 0" class="tablo">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="">prix unitaire</th>
            <th class="">qté</th>
            <th class="total">prix total</th>
          </tr>
        </thead>
        <tbody *ngFor="let ligne of panier.Lignes">
          <tr *ngIf="articlesDuPanier[ligne.IdArticle]">
            <td>
              <img [src]="formatImg(articlesDuPanier[ligne.IdArticle]?.image)" alt="article">
            </td>
            <td>
              <h3>{{ articlesDuPanier[ligne.IdArticle]?.nom }}</h3>
              <p>{{ articlesDuPanier[ligne.IdArticle]?.resume }}</p>
            </td>
            <td>
              {{ formatPrix(articlesDuPanier[ligne.IdArticle]?.prix) }}
            </td>
            <td>
              {{ ligne.Quantite }}
            </td>
            <td>
              {{ formatPrix(ligne.Quantite * articlesDuPanier[ligne.IdArticle]?.prix) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
