<div class="container mt-4">

    <div class="productWrapper">
        <div class="fond">
            <div class="imgProd">
                <img [src]="formatImg(product.image)" class="" alt="...">

            </div>
            <div class="bas">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="card-title">{{ product.nom }}</h2>
                        <ul>
                            <li *ngFor="let tag of product.Tags" class="badge rounded-pill text-bg-info mx-1">
                                <a href="/filter?tags={{tag}}">{{tag}}</a>
                            </li>
                        </ul>
                    </div>

                    <p class="card-text">{{ product.resume }}</p>
                    <p class="card-text">{{ product.description }}</p>
                </div>

                <div class="d-flex justify-content-evenly  align-items-center mt-2">

                    <div class="btnwrap">
                        <button class="btn btn-primary btn-sm btnProd" routerLink="/">Retour Catalogue</button>
                    </div>

                    <div>
                        <p class="price-text">{{ formatPrix(product.prix)}}</p>
                    </div>

                    <div class="btnwrap">
                        <button class="btn btn-primary btn-sm btnProd" (click)="ajouterAuPanier()">Ajouter au
                            Panier</button>
                    </div>


                </div>
            </div>

        </div>


    </div>>





</div>