
<div class="container bg-body-secondary">
    <form (ngSubmit)="onSearch()">
        <div class="row">
            <div class="col-md-6">
                <label for="priceMin">Prix Min:</label>
                <input type="number" id="priceMin" class="form-control" [(ngModel)]="searchCriteria.priceMin"
                    name="priceMin" required>
            </div>
            <div class="col-md-6">
                <label for="priceMax">Prix Max:</label>
                <input type="number" id="priceMax" class="form-control" [(ngModel)]="searchCriteria.priceMax"
                    name="priceMax" required>
            </div>
        </div>

        <!-- Double barre de recher-->

        <div class="row mt-3">
            <div class="col-md-6">
                <label for="name">Nom:</label>
                <input type="text" id="name" class="form-control" [(ngModel)]="searchCriteria.nom" name="nom">
            </div>
            <div class="col-md-6">
                <label for="brand">Marque:</label>
                <input type="text" id="brand" class="form-control" [(ngModel)]="searchCriteria.marque" name="marque">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <label for="tags">Tags (séparés par des virgules):</label>
                <input type="text" id="tags" class="form-control" [(ngModel)]="searchCriteria.tags" name="tags">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>
    <app-cards [articles]="filteredArticles"></app-cards>
    <button class="btn btn-primary w-100 my-1" (click)="loadMore()" [disabled]="noMoreArticles">Plus d'articles</button>
</div>    
