<div class="loginWrapper d-flex justify-content-center align-items-center p-5">
    <div class="container bg-body-secondary mt-5 p-4 rounded">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">Login</h2>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" ngModel required email />
                        <div *ngIf="loginForm.submitted && !loginForm.controls['email']?.valid" class="text-danger">
                            L'email est requis et doit être valide.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" ngModel required />
                        <div *ngIf="loginForm.submitted && !loginForm.controls['pwd']?.valid" class="text-danger">
                            Le mot de passe est requis.
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" id="rememberme" name="rememberme" ngModel>
                        <label class="form-check-label" for="rememberme">
                            Rester connecté
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

</div>