<div class="panierWrapper ">

    <div class="bg-body-secondary p-3 rounded-3">
        <div *ngIf="panier.lignes.length > 0" class="d-flex align-items-center justify-content-evenly">
            <h2>Panier</h2>
            <img src="../../assets/images/4x.jpg" alt="4x">
        </div>

        <div *ngIf="panier.lignes.length === 0">
            <div class="container text-center mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="empty-cart">
                        
                            <i class="fa-solid fa-7x fa-basket-shopping "></i>
                            <h2>Votre panier est vide</h2>
                            <p class="lead">Il semble que vous n'ayez pas encore ajouté d'articles à votre panier.</p>
                            <p class="lead">Vous allez être redirigé vers la page d'accueil dans quelques secondes...
                            </p>
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="panier.lignes.length > 0">Votre panier contient {{ panier.lignes.length }} article(s).</div>
        <table *ngIf="articlesDuPanier.length>0" class="tablo">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class=""> prix unitaire</th>
                    <th class=""> qté</th>
                    <th class="noPrint">action</th>
                    <th class="total">prix total</th>
                </tr>
            </thead>
            <tbody *ngFor="let ligne of panier.lignes; let i = index" class="ligne-panier">
                <tr *ngIf="articlesDuPanier[(getIndex(ligne.idArticle))]">
                    <td *ngIf="articlesDuPanier[(getIndex(ligne.idArticle))]"> <img
                            [src]="formatImg(articlesDuPanier[(getIndex(ligne.idArticle))].image)" alt="article"></td>
                    <td *ngIf="articlesDuPanier[(getIndex(ligne.idArticle))]">
                        <h3>{{articlesDuPanier[(getIndex(ligne.idArticle))].nom}} </h3>
                        <p>
                            {{articlesDuPanier[(getIndex(ligne.idArticle))].resume}}
                        </p>
                    </td>
                    <td *ngIf="articlesDuPanier[(getIndex(ligne.idArticle))]">
                        {{ formatPrix(articlesDuPanier[i].prix) }}</td>
                    <td>
                        <input type="number" class="quantity-input" class="form-control quantity-input" min="1"
                            [(ngModel)]="ligne.quantite"
                            (change)="mettreAJourQuantite(ligne.idArticle, ligne.quantite)">
                    </td>

                    <td>
                        <button class="action trash" (click)="supprimerLigne(ligne.idArticle)"><i class="fa fa-trash"
                                aria-hidden="true" style="pointer-events: none;"></i></button>
                        <button class="action oneMore"
                            (click)="mettreAJourQuantite(ligne.idArticle, ligne.quantite + 1)">+</button>
                        <button class="action oneLess"
                            (click)="mettreAJourQuantite(ligne.idArticle, ligne.quantite-1 )">-</button>

                    </td>
                    <td>{{ formatPrix(ligne.quantite * articlesDuPanier[i].prix) }} </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Total</td>
                    <td>{{ formatPrix(totalPanier) }}</td>
                </tr>
            </tfoot>
        </table>
        <div *ngIf="articlesDuPanier.length>0" class="d-flex justify-content-evenly align-items-center">
            <button class="btn btn-primary " routerLink="/">Continuer mes achats</button>
            <button class="btn btn-success " (click)="onValiderPanier()">Valider le Panier</button>

            <button class="btn btn-danger " (click)="viderPanier()">Vider le panier</button>

        </div>

    </div>


</div>



<ng-template #myModal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Commande</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <p>Commande Enregistrée.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</ng-template>



<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast high-contrast-toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">

            <img style="height: 35px;" src="../../assets/images/thumb.jpg" class="rounded me-2" alt="...">
            <strong class="me-auto">Shoot again</strong>

            <small>Commande</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>