<nav class="navBarWrapper navbar navbar-expand-md   ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <h1>GameGalaxy</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Magasin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="panier">Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" href="filter">Recherche</a>
                </li>
                <!-- 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>-->
            </ul>
            <!-- navbar.component.html -->
            <form class="d-flex" role="search" (submit)="onSearch($event)">
                <input class="form-control me-2" type="search" placeholder="Filtre" aria-label="Search"
                    (input)="onSearch($event)">
                <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
            </form>

            <ul class="navbar-nav  ">
                <li  *ngIf="!isLogged" class="nav-item">
                    <a class="nav-link" aria-current="page" href="login">Login</a>
                </li>
                <li  *ngIf="isLogged"  class="nav-item">
                    <a class="nav-link" aria-current="page" href="logout">Logout</a>
                </li>
                <li *ngIf="!isLogged" class="nav-item">
                    <a class="nav-link" aria-current="page" href="modify">profil</a>
                </li>
                <li *ngIf="!isLogged" class="nav-item">
                    <a class="nav-link" aria-current="page" href="register">Register</a>
                </li>
            </ul>

            <a class="nav-link" aria-current="page" href="panier"><img style="height: 20px;" src="../../assets/images/panier.png" alt="panier">
            <span>{{getNbArticles()}}</span>
</a>
           

        </div>
    </div>
</nav>