<p>card works!</p>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 " *ngFor="let card of cards">
            <div class="card mb-2">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>