.homeWrapper {

    width: 100%;
    margin: auto;
    flex-direction: column;
    height: calc(100% - 120px);
        min-height: calc(100vh - 120px);
   
}

.cards{
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}